@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @if (User.Identity.IsAuthenticated)
    {
        <p>@User.Identity.Name kullanıcısı login olmuş durumda.</p>
        <p> Çıkış yapmak için <a asp-action="Logout" asp-controller="Users"> tıklayın</a> </p>
    }

</div>
